[client]
port		= 3306
socket	= /var/lib/mysql/mysql.sock

[mysqld]
port		= 3306
socket		= /var/lib/mysql/mysql.sock
skip-external-locking
skip-name-resolve
key_buffer_size = 384M

#设置在网络传输中一次消息传输量的最大值。系统默认值 为4MB，最大值是1GB，必须设置1024的倍数。
max_allowed_packet = 100M
#最大连接数
max_connections = 10240
#设置每个主机的连接请求异常中断的最大次数，当超过该次数，MYSQL服务器将禁止host的连接请求，直到mysql服务器重启或通过flush hosts命令清空此host的相关信息。默认100
max_connect_errors = 100

sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
thread_cache_size = 32
query_cache_size = 128M
#对mysql的性能影响较大，多核情况下，设置为cpu核数的2倍
thread_concurrency = 4
innodb_lock_wait_timeout = 600

character-set-server=utf8
init_connect = "SET NAMES utf8"
default-time-zone = '+8:00'

#大小写敏感
lower_case_table_names=1
wait_timeout=1814400
innodb_file_per_table
thread_stack = 512K

server-id	= 1
auto_increment_offset = 1
auto_increment_increment = 2

[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
default-character-set=utf8

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit = 10240
